.main-content{
    display: flex;
    flex-direction: row;
    padding: 0;
}

.row.titre{
    padding: 15px;
    font-size: 35px;
    font-weight: bold;
    color: rgb(38, 110, 235);
}

.row.titre img{
    width: 105px;
    height: 65px;
}

.authentification{
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 30px;
}

.auth-img img{
    width: 250px;
    height: 250px;
}

.formulaire{
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 0px 15px 4px rgb(185, 185, 185);
    width: 450px;
    height: 550px;
}

.buttons-form{
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

.imageLogin{
    padding: 0px;
}

.imageLogin img{
    height: 1000px;
}